<section id="details">
  <img src="<%=book.img_url%>">
  <article>
    <h2><%=book.title %></h2>
    <h3><%=book.author %></h3>
    <p class="bookDescription"><%=book.descript%></p>
    <p class="isbn">ISBN: <%=book.isbn%></p>
    <p class="bookShelf">Bookshelf: <%=book.bookshelf%></p>
  </article>
  <div id="updateButtonContainer">
    <button id="showUpdateInfo" type="button">Update Info</button>
  </div>
  <form action="/books/<%= book.id %>?_method=DELETE" method="POST">
    <button id="deleteButton" type="submit">Remove Book</button>
  </form>
</section>