<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
<body>
  <%- include('../layout/header') %>
  <main>
    <% if(typeof(books) === 'string') {%>
      <p>Your shelf has <%=books%> books</p>
    <% } else if (typeof(books) === 'object') { %> 
      <p>Your shelf has <%=bookCount%> books</p>
      <% for(let book of books) {%> 
        <section>
          <img src="<%=book.img_url%>" alt="#">
          <article>
            <h2><%=book.title %></h2>
            <h3><%=book.author %> </h3>
          </article>
          <form action="/books/<%=book.id%>" method="GET">
            <button type="submit">View Details</button>
          </form>
        </section>
      <% } %>  
    <% } %> 
        
  </main>
  <%- include('../layout/footer') %>
</body>
</html>